*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
}
nav {
    background-color: gray;
    height: 10%;
    
}
ul{
    background-color: royalblue;
    align-content: center;
    padding-left: 80%;
    padding-top: 2.5%;
}
li{
    margin-right: 5px;
    margin-left: 5px;
    
}
a{
    padding:10px;
    background-color: whitesmoke;
    text-decoration:none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px black;
}