*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
}
.parent{
    margin:0 auto;
    margin-top: 10%;
    border-radius: 20px;
    border: 2px black solid;
    background-color: grey;
    width: 600px;
    height: 600px;
    padding: 0px 80px; 
    text-align: left;   
}
.parent-header{
    background-color: red;
    border-radius: 10px;
    border: 5px black;
    height: 20%;
    position: relative;
    bottom: 30px;
    text-align: center;
}
p{    
    padding-top: 50px;
}